services:
  rabbitmq:
    image: rabbitmq:3.10.7-management
    hostname: rabbitmq
    restart: always
    environment:
      - RABBITMQ_DEFAULT_USER=rmuser
      - RABBITMQ_DEFAULT_PASS=rmpassword
    ports:
      - 15673:15672
      - 5673:5672

  ml-ocr-worker:
    build: .
    container_name: spendsphere-ocr-worker
    environment:
      - OLLAMA_API_URL=http://host.docker.internal:11434
      - LOG_LEVEL=INFO
      - RABBITMQ_HOST=rabbitmq
      - RABBITMQ_USER=rmuser
      - RABBITMQ_PASS=rmpassword
      - OCR_MODEL=deepseek-ocr:latest
      - BUDGET_MODEL=qwen3:0.6b
    volumes:
      - .:/app
    depends_on:
      - rabbitmq
    command: ["python", "-m", "src.workers.ocr_worker"]
    restart: unless-stopped

  ml-advice-worker:
    build: .
    container_name: spendsphere-advice-worker
    environment:
      - OLLAMA_API_URL=http://host.docker.internal:11434
      - LOG_LEVEL=INFO
      - RABBITMQ_HOST=rabbitmq
      - RABBITMQ_USER=rmuser
      - RABBITMQ_PASS=rmpassword
      - ADVICE_MODEL=qwen3:0.6b
    volumes:
      - .:/app
    depends_on:
      - rabbitmq
    command: ["python", "-m", "src.workers.advice_worker"]
    restart: unless-stopped
